$white : #fff;
.van-nav-bar{
    background-color:#e54847;
    font-size:4vw;
    .van-nav-bar__title{
        font-size:4vw;
        line-height: 13vw;
        color:$white;
    }
    .van-icon-arrow-left{
        color:$white;
    }
}
